<mat-card class="card">
    <mat-card-header style="display: flex;justify-content: center;" >
        <mat-card-title >Settings</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <p>
            <button mat-button (click)="click()" style="width: 100%;" mat-dialog-close>Theme</button>
        </p>
       
        <mat-divider></mat-divider>
        <div style="padding-left: 10%;padding-right: 10%;padding-top: 5%;">
           
        <p>
Reminder defaults:
        </p>
<p>
Morning:
</p>
<p>
AfterNoon:
</p>
<p>
Evening:
</p>
        </div>

    </mat-card-actions>
</mat-card>
