
  <form [formGroup]="newNotes" style="width: 100%;">
  <mat-accordion >
  <mat-expansion-panel hideToggle>
   
        <mat-expansion-panel-header (click)=extensions(0)>
          <mat-panel-title>
            Take Notes...
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div (click)=extensions(0)>
        <div formGroupName="title">
          <mat-form-field appearance="outline" style="width: 100%;">

<input matInput type="text" formControlName="title" placeholder="title">
</mat-form-field>
      </div >
      <mat-form-field appearance="outline" style="width: 100%;">
        <textarea matInput formControlName="description" placeholder="description"></textarea>
      </mat-form-field>
      
        </div>
        <div style="border: solid #e7e7e7 1px;padding: 2%;border-radius: 5px;" *ngIf="allSelectedLabels.length" (click)="addLabel=!addLabel">
          <label>Selected Labels</label>
          <mat-chip-list>
            <mat-chip *ngFor="let option of allSelectedLabels;let i=index" [selectable]="selectable" [removable]="true"  (removed)="removeLabel(option)">
        {{option}}
        <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        
      <mat-action-row style="padding-left: 8px;">
        <div *ngIf="addLabel" style="width: 50%;margin-right: 40px;">
          <app-label (allSelectedLabels)="fun($event)" [deletedLabel]="deletedLabel"></app-label>
        </div>
        <div>
        <button mat-mini-fab color="warn">
          <mat-icon>palette</mat-icon>
        </button>
        <button mat-mini-fab color="warn" >
          <mat-icon>attachment</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="addLabel=!addLabel">
          <mat-icon>label</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
        </div>
        
      </mat-action-row>
      
      </mat-expansion-panel>
    </mat-accordion> 
  </form>
  

 