
<mat-drawer-container class="sideNavIcon">
    <mat-drawer style="width: 100%;" mode="side" opened>
        <p style="display: flex;justify-content: center;padding-top: 20%;">
            <button mat-mini-fab color="primary">
                <mat-icon>event</mat-icon>
            </button>
        </p>
        <p style="display: flex;justify-content: center;padding-top: 20%;">
            <button mat-mini-fab color="primary">
                <mat-icon>list</mat-icon>
            </button>
        </p>
    <p style="display: flex;justify-content: center;padding-top: 20%;">
        <button mat-mini-fab color="primary" >
            <mat-icon>lightbulb</mat-icon>
        </button>
    </p>
   
    <p style="display: flex;justify-content: center;padding-top: 20%;">
        <button mat-mini-fab color="primary">
            <mat-icon>label</mat-icon>
        </button>
    </p>
    <p style="display: flex;justify-content: center;padding-top: 20%;">
        <button mat-mini-fab color="primary" >
            <mat-icon>archive</mat-icon>
        </button>
    </p>
    <!-- <p style="display: flex;justify-content: center;padding-top: 20%;">
        <button mat-mini-fab color="primary">
            <mat-icon>delete</mat-icon>
        </button>
    </p> -->

    
    
    
    </mat-drawer>
  </mat-drawer-container>
