
<mat-card class="card">
<mat-card-header>
    <div mat-card-avatar style="background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);background-size: cover;"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>


<mat-card-content>

</mat-card-content>

<mat-card-actions>
        <button mat-button (click)="signOut()" style="width: 100%;">Sign Out</button>
    
  
</mat-card-actions>


</mat-card> 

